node_modules
npm-debug.log*

.env
.env.*
!.env.example
!.env.test.example

.git
.gitignore

logs
*.log

uploads

coverage
.nyc_output

test

.vscode
.idea

.DS_Store
Thumbs.db

README.md
docker-compose.yml